// Minimal layout configuration for louie

layout {
    background-color "#111111"
    gaps 8

    focus-ring {
        width 2
        active-color "#666666"
        inactive-color "#333333"
    }

    border {
        off
    }
}
